@using duma.Models
@model ApplicationUser
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Account</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>    
    <div class="navbar navbar-inverse navbar-fixed-top">        
            <div class="container">
                <ul class="nav-justified text-center">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <!--<li>@Html.ActionLink("Редактирование таблицы", "EditDuma", "Home")</li>-->                    
                    <li>@Html.ActionLink("Редактирование аккаунта", "Edit", "Account")</li>
                    <li>@Html.ActionLink("Добавление роли", "Create", "Roles")</li>
                    <li>@Html.ActionLink("Роли", "Index", "Roles")</li>
                    <li>@Html.ActionLink("Удаление аккаунта", "Delete", "Account")</li>                
                    <li>@Html.ActionLink("Регистрация нового пользователя", "Register", "Account")</li>    
                    <li>@Html.ActionLink("Выход", "Logout", "Account")</li>
                </ul>
            </div>                
    </div>
    <div class="container">
            <h2 class="text-center">Личный кабинет</h2>
            <ul>
                <li>@Model.UserName</li>
            </ul>
        </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</body>
</html>
